<?xml version="1.0"?>



<configuration>
  <appSettings>

<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

</appSettings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>

  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=msci3300_g7; Persist Security Info=True; User ID=msci3300_g7; Password=Colbert!3300" />
    <add name="db_vpizzo_HW7" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=msci3300_g7; Persist Security Info=True; User ID=msci3300_g7; Password=Colbert!3300"
      providerName="System.Data.SqlClient" />
    <add name="msci3300_g7ConnectionString" connectionString="Data Source=apollo.biz.uiowa.edu;Initial Catalog=msci3300_g7;Persist Security Info=True;User ID=msci3300_g7;Password=Colbert!3300"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>